{{>header}}
{{>navbar}}
<section class="container text-center">
    <div class="alert alert-danger m-5">
        <h2>Ivalid url page not found</h2>
        <a href="/" class="btn btn-primary m-1" >Back to home</a>
    </div>
</section>
{{>footer}}