{{>header}}
{{>navbar}}
<section class="container my-5 text-center">
<img src="/images/01.png" class="logo ">
<h1 class="m-5">Welcome to Our App {{userName}}</h1>
<a href="/allTasks" class="btn btn-success">Go to all tasks page</a>



</section>

{{>footer}}